@font-face {
  font-family: "BystanderSans-Bold";
  src: url('fonts/font.woff2') format('woff2'), 
      url('fonts/font.woff') format('woff');
}
@font-face {
    font-family: 'BystanderSans';
    src: url('fonts/BystanderSans-Bold.woff2') format('woff2'),
        url('fonts/BystanderSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BystanderSans';
    src: url('fonts/BystanderSans-Bold.woff2') format('woff2'),
        url('fonts/BystanderSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Epilogue';
    src: url('fonts/Epilogue-BlackItalic.woff2') format('woff2'),
        url('fonts/Epilogue-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/Epilogue-Bold.woff2') format('woff2'),
        url('fonts/Epilogue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/Epilogue-Black.woff2') format('woff2'),
        url('fonts/Epilogue-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/Epilogue-BoldItalic.woff2') format('woff2'),
        url('fonts/Epilogue-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/Epilogue-ExtraBold.woff2') format('woff2'),
        url('fonts/Epilogue-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/Epilogue-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/Epilogue-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/Epilogue-Light.woff2') format('woff2'),
        url('fonts/Epilogue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/Epilogue-ExtraLight.woff2') format('woff2'),
        url('fonts/Epilogue-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/Epilogue-Italic.woff2') format('woff2'),
        url('fonts/Epilogue-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/Epilogue-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/Epilogue-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/Epilogue-LightItalic.woff2') format('woff2'),
        url('fonts/Epilogue-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/Epilogue-Medium.woff2') format('woff2'),
        url('fonts/Epilogue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/Epilogue-MediumItalic.woff2') format('woff2'),
        url('fonts/Epilogue-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/Epilogue-SemiBold.woff2') format('woff2'),
        url('fonts/Epilogue-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/Epilogue-Regular.woff2') format('woff2'),
        url('fonts/Epilogue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/Epilogue-ThinItalic.woff2') format('woff2'),
        url('fonts/Epilogue-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/Epilogue-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/Epilogue-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/Epilogue-Thin.woff2') format('woff2'),
        url('fonts/Epilogue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

