<footer>
    <div id="footer">
        <nav>
            <ul>
                <li>
                    <h3>Kingston</h3>
                    <a href="javascript:;">Shop</a>
                    <a href="javascript:;">Eat & Drink</a>
                    <a href="javascript:;">Things to do</a>
                    <a href="javascript:;">Kingston Market</a>
                    <a href="javascript:;">About Kingston</a>
                    <a href="javascript:;">Latest Events</a>
                    <a href="javascript:;">News & Offers</a>
                    <a href="javascript:;">Visit</a>
                </li>
                <li>
                    <h3>Contact us</h3>
                    <a href="javascript:;">General Enquiries</a>
                    <a href="javascript:;">Kingston Markets Enquiry</a>
                    <a href="javascript:;">Press</a>
                    <address>
                        Neville House, <br>
                        55 Eden Street, <br>
                        Kingston upon Thames, <br>
                        KT1 1BW
                    </address>
                </li>
                <li>
                    <h3>Legal</h3>
                    <a href="javascript:;">Privacy policy</a>
                    <a href="javascript:;">Cookies</a>
                    <a href="javascript:;">Competition Terms & Conditions</a>
                </li>
            </ul>
        </nav>
        <article class="fs-box">
            <form>
                <h3>Subscribe to our newsletter</h3>
                <input type="email" placeholder="Email address">
                <a href="javascript:;" class="submit-btn"></a>
            </form>
            <div class="social-links">
                <h3>Follow us</h3>
                <a href="javascript:;" class="icon"></a>
                <a href="javascript:;" class="icon insta"></a>
                <a href="javascript:;" class="icon fb"></a>
            </div>
        </article>
        <article class="roles-box">
            <div class="left">
                <label>© Kingston upon Thames @DateTime.Now.Year</label>
            </div>
            <div class="right">
                <label>This website is run by <a href="javascript:;">Kingston First</a></label>
                <label>Website designed by <a href="https://smallbackroom.co.uk" target="_blank">Small Back Room</a></label>
            </div>
        </article>
    </div>
</footer>
