<div class="MatrixImageCropper">
    <div>
        <div class="option">
            <!--<div>Alias : {{alias}}</div>-->
          
            <div id="Mainpreview-{{alias}}" class="image" ng-if="image" style="width:124px;height:124px;border: 10px solid #f3f3f5;position:relative;">
                <!--<img id="MainImagepreview-{{alias}}" ng-src="{{imageUrl}}" ng-value="{{value.imageId}}" alt="" />-->

                <div style="position:absolute;top:40%;left:30px;z-index:99;">
                    <a href="#" id="editImageImage-{{alias}}" class="usky-editor-placeholder" ng-click="selectImage()" prevent-default><img src="/App_Plugins/MatrixImageCropper/images/img-upload.png" /></a>
                    <a href="#" id="removeImage-{{alias}}" class="remove" ng-click="removeImage()" prevent-default><img src="/App_Plugins/MatrixImageCropper/images/img-delete.png" /></a>
                    <!--<a href="#" id="deleteImage-{{alias}}" class="delete" ng-click="deleteImage()" prevent-default><i class="icon icon-delete"></i></a>-->
                </div>
                <umb-image-thumbnail id="MainImagepreview-{{alias}}" width="124"
                                     height="124"
                                     src="imageUrl" /><br />
            </div>
            <div class="image" ng-if="!image" style="width:124px;height:124px;border: 10px solid #f3f3f5;position:relative;">
                <a href="#" id="selectImage-{{alias}}" class="usky-editor-placeholder" ng-click="selectImage()" prevent-default><img src="/App_Plugins/MatrixImageCropper/images/img-upload-full.png" /></a>
            </div>
            <div style="width:100%;margin: 0 0 0 0;">
                <label class="option">
                    <span style="padding:8px 10px 0 0;float:left;font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;font-weight:700;box-sizing:border-box;color:#817f85">Alt text 5-15 words approx</span>&nbsp;
                    <input style="padding-top:4px;float:left;margin-top:4px;font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;clear:left;" type="text" ng-model="value.title" placeholder="{{cfg.title.placeholder}}" ng-required="cfg.title.required" />
                </label>
            </div>
            <div id="hover" style="width:100%;height:100%;position:fixed !important;left:0;top:0;background-color:#000;opacity:.6; display:none;z-index:11!important;"></div>



            <div id="myModal-{{alias}}" style="display:none;left:-60% !important;"  class="modal left-50 {{alias}}" >
                <div id="displayfirst-{{alias}}" style="position:absolute;width:100%;background-color:#fff;opacity:0.6;height:100%;z-index:9999;display:none;">
                    <div style="width:100%;float:none;padding:0 0 0 0;position:absolute;top:45%;z-index:111;">
                        <center><img style="width:60px" src="/App_Plugins/MatrixImageCropper/images/imgloder-circle.gif" /></center>
                    </div>
                </div>
                <div id="modal-content-{{alias}}" class="modal-content">
                    <div id="modal-header-{{alias}}" class="modal-header">
                        <span style="font-size:28px;" class="close" ng-click="btnclosepopup(true)">&times;</span>
                        <h2>Upload Image</h2>
                        <p>You can crop selected image according to required dimensions.</p>
                    </div>
                    <div id="modal-body-{{alias}}" class="modal-body">
                        <div id="modelpreview-{{alias}}" class="image" ng-if="image" style="display:none;">
                            <img id="modelImagepreview-{{alias}}" ng-src="{{dirtyimage}}" ng-value="{{value.imageId}}" alt="" /><br />
                            <!--<a href="#" id="removeImage-{{alias}}" class="remove" ng-click="removeImage()" prevent-default><i class="icon icon-delete"></i></a>-->
                        </div>

                        <div id="imageEditor-{{alias}}" class="image-editor" style="width: 100%;position:relative; margin:0px 0 0 0;">

                            <div class="cropit-image-preview" style="cursor:move !important;" id="divpreview-{{alias}}"></div>
                            <div class="div-resize">
                                <p class="image-size-label" style="width:100%;float:left;padding:10px 0px 3px 0;box-sizing:border-box; margin:0;font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;font-weight:700;">Resize image</p>
                                <input type="range" class="cropit-image-zoom-input" /><input type="hidden" name="croppedimage" ng-src="{{dirtyimage}}" ng-value="{{value.imageId}}" id="croppedimage-{{alias}}" />
                            </div>

                        </div>
                    </div>
                    <div id="modal-footer-{{alias}}" class="modal-footer" style="padding-top:10px !important;">
                        <div class="div-controls" style="width:100%;float:left;margin: 0px 0 0 0;">
                            <div style="width:110px;float:left;margin: 0px 0 0 0;">
                                <p style="width:100%;float:left;padding:0px 0px 3px 0;margin:0;font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;font-weight:700;text-align:left;">Width</p>
                                <input style="width:80px;float:left;height:25px !important;padding:3px 0px 0 5px;margin:0;font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;" id="txtWidth-{{alias}}" value="" min="20" max="9999" ng-model="ImgDefaultValue_Width" class="input small" type="number" maxlength="4" ng-change="Onchangetrigger()" />
                                <input type="hidden" ID="hdnTxtWidthDirty-{{alias}}" Value="" />
                            </div>
                            <div style="width:110px;float:left;margin: 0px 0 0 0;">
                                <p style="width:100%;float:left;padding:0px 0px 3px 0;margin:0;font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;font-weight:700;text-align:left;">Height</p>
                                <input style="width:80px;height:25px !important;float:left;padding:3px 0px 0 5px;margin:0;font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;" id="txtHeight-{{alias}}" value="" min="20" max="9999" ng-model="ImgDefaultValue_Height" class="input small" type="number" maxlength="4" ng-change="Onchangetrigger()" />
                                <input type="hidden" ID="hdnTxtHeightDirty-{{alias}}" Value="" />
                            </div>
                            <div style="width:82px;float:left;margin: 0px 0 0 0;">
                                <p style="width:100%;float:left;padding:0px 0px 3px 0;margin:0;font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;font-weight:700;text-align:left;">Quality</p>
                                <select id="Qualitydropdown-{{alias}}" ng-model="MyQualitydropdown">
                                    <option>High</option>
                                    <option>Medium</option>
                                    <option>Low</option>
                                </select>
                            </div>

                            <!--<div style="width:82px;float:left;margin: 0px 0 0 5px;">
                        <p style="width:100%;float:left;padding:0px 0px 3px 0;margin:0;font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;font-weight:700;text-align:left;">Image Type</p>
                        <select id="MyImagetypedropdown-{{alias}}" ng-model="MyImagetypedropdown">
                            <option>Jpeg</option>
                            <option>Png</option>
                        </select>
                    </div>-->

                            <div style="width:200px;float:left;margin: 22px 0 0 20px;clear:initial">
                                <p style="width:100%;float:left;padding:5px 0px 0 0;margin:0;font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;text-align:left;clear:left;"><input id="chknotcrop-{{alias}}" type="checkbox" ng-model="chkcropimage" ng-change="donotCropImagechange()" />Do not crop image</p>
                            </div>

                            <div class="buttons-croper">
                                <a class="button-crop cncel" style="" id="btncancel-{{alias}}" ng-click="btnclosepopup(true)">Cancel</a>
                                <a class="button-crop save" id="btncrop-{{alias}}" ng-click="CropImage()">Save</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<label class="option">
        <span>Description</span><br />
        <textarea type="text" ng-model="value.description" placeholder="{{cfg.description.placeholder}}" rows="{{cfg.description.rows}}" ng-required="cfg.description.required"></textarea>
    </label>-->
        </div>
        <!--<umb-overlay ng-if="mediaPickerOverlay.show" model="mediaPickerOverlay" position="right" view="mediaPickerOverlay.view"></umb-overlay>-->
        <umb-overlay ng-if="mediaPicker.show" model="mediaPicker" position="right" view="mediaPicker.view"></umb-overlay>


    </div>
    <style>
        /*.umb-overlay-backdrop {
            display: none !important;
        }*/

        /*.cropit-preview {
            background-color: #f8f8f8;
            background-size: cover;
            border: 5px solid #ccc;
            border-radius: 3px;
            margin-top: 7px;
            width: 400px;
            height: 400px;
            display: inline-block;
        }*/

        .buttons-croper {width: 190px;float: right;margin-top:25px;}
        .button-crop {
            border: none;
            background: #35c786;
            color: #fff;
            padding: 11px 28px 9px;
            font-size: 15px;
            border-radius: 2px;
            position: relative;
            box-sizing: border-box;
            transition: all 500ms ease;
            background-image: none;
            cursor: default;
            font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
            font-weight: 700;
            cursor: pointer;
            transition: 0.8s;
        }
        .button-crop.cncel {
            padding: 11px 26px 9px;  background: #544f5e;
        }
          .button-crop.cncel:hover {
                color: #fff;
                text-decoration:none;background-color:#5d5867;border-radius:4px;transition: all 1s ease;
            }
            .button-crop:before {
                font-family: FontAwesome;
                content: "";
                background-image: url(/App_Plugins/MatrixImageCropper/images/icon-cancel.png);
                position: absolute;
                top: 11px;
                left: -30px;
                transition: all 200ms ease;
                color: #fff;
                width: 14px;
                height: 14px;
                background-size: auto 100%;
                z-index: -999
            }
            .button-crop.save:before {
                font-family: FontAwesome;
                content: "";
                background-image: url(/App_Plugins/MatrixImageCropper/images/icon-save.png);
                position: absolute;
                top: 10px;
                left: -30px;
                transition: all 200ms ease;
                color: #fff;
                width: 16px;
                height: 16px;
                background-size: auto 100%;
                z-index: -999
            }
        .button-crop:hover:before {
            left: 7px;
            color:#fff;z-index:999;
        }

            .button-crop:hover {
                color: #fff;
                text-decoration:none;background-color:#32bd7f;border-radius:4px;transition: all 1s ease;
            }
        select{
            width: 82px;
            padding: 1px 0 0px 0 !important;
            margin: 0 !important;
            float: left;
            background-color: #fff;
            border: none;
            color: #515054;
            border: solid 1px #bbbabf;
            height: 26px !important;
            font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
            font-size: 12px;
            font-weight: 400;
        }
            select option {
                width: 82px;
                padding: 0 0 0 0 !important;
                margin: 0 !important;
                float: left;
                background-color: #fff;
                border: none;
                color: #515054;
                height: auto !important;
                min-height: initial !important;
                font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
                font-size: 12px;
                font-weight: 400;
            }
        input[type='checkbox'] {
            width: auto !important;
            height: auto !important;
            padding: 0 0 0px 0;
            margin: 3px 7px 0 0;
            float: left;
            border: none;
            color: #000;
            font-size: 12px;
        }


        .umb-editors .umb-editor .modal.left-50 {
            left: -60% !important;
        }
    </style>
</div>


